body, html {
    min-height: 100%;
    font-family: "Montserrat", sans-serif;
}

#header {
    width: 100%;
    background-color: rgb(0, 0, 0);
    transition: background ease-out 0.2s;
}

#header.active {
    position: fixed;
    background: #000000;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

#header .collapse.navbar-collapse {
    width: auto;
}

#header .nav-link {
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 0;
    padding-right: 0;
    margin-left: 15px;
    margin-right: 15px;
    color: #2e98fe;
    border-bottom: solid 4px transparent;
}

#header .nav-link:hover {
    border-bottom: solid 4px #0d5ba3;
    color: #0d5ba3;
}

#slider {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#servicos {
    background-image: url(../img/servicos-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


@font-face {
    font-family: Ghotam;
    src: url(C:\Windows\Fonts\Gotham);
}